<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <marquee behavior="alternate">
      <img src="https://c.tenor.com/CunF35_z6B8AAAAC/mr-nagoor-babu-durga.gif" alt="" class="durga">
    </marquee>
    <li class="nav-item">
      <a routerLink="meubles" routerLinkActive="active" class="nav-link">Liste de meuble</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-meuble" routerLinkActive="active" class="nav-link">Ajout de meuble</a>
    </li>
  </ul>
</nav>
<br>
<h1 class="text-center"> {{title}} </h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
<br>
<br>
<br>
<br>
<footer class="footer">
  <div class="container">
    <span> Ceci est un footer </span>
  </div>
</footer>
